<script type="text/x-handlebars" data-template-name="application">
  <h1>Ascension</h1>
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="games">
  <a href="#" {{action "resetGame"}}>Reset</a><br>
  {{#if showGames}}
  {{#each game in this}}
    {{#linkTo "game" game }}Game {{game.id}}{{/linkTo}}
    <br>
  {{/each}}
  {{/if}}
  <br>
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="game">
  Current Side Index: {{current_side_index}}<br>
  Honor: {{honor}}<br>
  Should Reload: {{view Em.Checkbox checkedBinding="App.shouldReload"}}<br>
  
  {{view Em.TextField valueBinding="cardToAdd"}}
  <a href="#" {{action addCard}}>Add Card</a><br>
  
  
  <br>

  {{partial "center"}}

  <br><br>
  
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="card">
  <div {{bindAttr class=":span2 :center-card engageable"}}>
    {{#if card.engageable}}
      <a href="#" {{action "acquireCard" card}}>{{displayCard card}}</a>
    {{else}}
      {{displayCard card}}
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="_center">
  <div id="center">

    <div class="row">
      {{#each card in constantCards}}
        {{render card card}}
      {{/each}}
      <div class="span6"></div>
    </div>

    <div class="row">
      {{#each card in centerCards}}
        {{render card card}}
      {{/each}}
    </div>
  </div>
</script>


<%= partial "play_area" %>

Stuff!
<br>