<script type="text/x-handlebars" data-template-name="application">
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="games">
  <a href="#" {{action "resetGame"}}>Reset</a><br>
  {{#if showGames}}
  {{#each game in this}}
    {{#linkTo "game" game }}Game {{game.id}}{{/linkTo}}
    <br>
  {{/each}}
  {{/if}}
  <br>
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="game">
  <div class="game">
    {{outlet otherSide}}
    <hr>

    {{partial "center"}}
    <hr>

    {{outlet mySide}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="card">
  <div {{bindAttr class=":span2"}}>
    <div {{bindAttr class="engageable :center-card"}}>
      {{#if card.engageable}}
        {{#if isCurrent}}
          <a href="#" {{action "acquireCard" card}}>{{displayCard card}}</a>
        {{else}}
          {{displayCard card}}
        {{/if}}
      {{else}}
        {{displayCard card}}
      {{/if}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="_center">
  <div id="center">
    <div class="row">
      {{#each card in constantCards}}
        {{render card card}}
      {{/each}}
      <div class="span6">
        <b>Honor</b>: {{honor}}<br>
        {{view Em.TextField valueBinding="cardToAdd"}}
        <a href="#" {{action addCard}}>Add Card</a><br>
      </div>
    </div>

    <div class="row">
      {{#each card in centerCards}}
        {{render card card}}
      {{/each}}
    </div>
  </div>
</script>


<%= partial "play_area" %>
