<script type="text/x-handlebars" data-template-name="_my_side">
  <div class="row">
    {{partial "actions"}}
    {{partial "pool"}}
    {{partial "hand"}}
    {{partial "played"}}
    {{render discard discard}}
  </div>
  {{partial "hand_pretty"}}
</script>

<script type="text/x-handlebars" data-template-name="side">
  {{partial "my_side"}}
  <br><br>
  {{render other_side otherSide}}
</script>

<script type="text/x-handlebars" data-template-name="_history">
  <div class="span6">
    <h3>Last Turn</h3>
    <h4>Played</h4>
    {{#each card in last_turn.played_cards}}
      {{card.name}}<br>
    {{/each}}
    <h4>Engaged</h4>
    {{#each card in last_turn.engaged_cards}}
      {{card.name}}<br>
    {{/each}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="other_side">
  <div class="row">
    {{partial "pool"}}
    {{partial "played"}}
    {{render discard discard}}
    {{partial "history"}}
  </div>

</script>

<script type="text/x-handlebars" data-template-name="_actions">
  <div class="span4">
    Side: {{sideNum}}<br>
    {{#if isCurrent}}
      <a href="#" {{action "endTurn"}}>End Turn</a><br>
    {{/if}}
    {{#if hasChoice}}
      <h3>Choice</h3>
      {{#each choice in choices}}
        {{choice.name}}<br>
        {{#if choice.optional}}
          <a href="#" {{action "chooseOption" choice null}}>None</a><br>
        {{/if}}
        {{#each card in choice.choosable_cards}}
          <a href="#" {{action "chooseOption" choice card}}>{{card.name}}</a><br>
        {{/each}}
      {{/each}}
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="_pool">
  <div class="span2">
    <h3>Pool</h3>

    <table class="pool">
      <tr>
        <th>Runes</th>
        <th>Power</th>
        <th>Honor</th>
        <th>Deck Honor</th>
        <th>D/H Size</th>
      </tr>
      <tr>
        <td>{{played.pool.runes}}</td>
        <td>{{played.pool.power}}</td>
        <td>{{honor}}</td>
        <td>{{deck_honor}}</td>
        <td>{{deck.cards.length}}/{{hand.cards.length}}</td>
      </tr>
    </table>

    <h3>Constructs</h3>
    {{#each card in constructs.cards}}
      {{#if isCurrent}}
        {{#if card.has_invokable_ability}}
          <a href="#" {{action "invokeAbility" card}}>{{card.name}}</a>
        {{else}}
          {{card.name}}
        {{/if}}
      {{else}}
        {{card.name}}
      {{/if}}
      <br>
    {{/each}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="_hand">
  <div class="span2">
    <h3>Hand</h3>
    {{#each card in hand.cards}}
      {{#if isCurrent}}
        <a href="#" {{action "playCard" card}}>{{card.name}}</a>
      {{else}}
        {{card.name}}
      {{/if}}
      <br>
    {{/each}}

    {{#if showPlayAll}}
      <br>
      <a href="#" {{action "playAll"}}>Play All</a>
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="_hand_pretty">
  {{#each card in hand.cards}}
    {{#if isCurrent}}
      <a href="#" {{action "playCard" card}}>{{displayCard card}}</a>
    {{else}}
      {{displayCard card}}
    {{/if}}
  {{/each}}
  <br>
</script>

<script type="text/x-handlebars" data-template-name="_played">
  <div class="span2">
    <h3>Played</h3>
    {{#each card in played.cards}}
      {{card.name}}
      <br>
    {{/each}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="discard">
  <div class="span2">
    <a href="#" {{action toggleDiscard}}>
      <h3>Discard</h3>
    </a>
    {{#if displayDiscard}}
      {{#each card in cards}}
        {{card.name}}
        <br>
      {{/each}}
    {{/if}}
  </div>
</script>

